<!DOCTYPE html>
{{> head}}

<body>
  <p><a href="/">~</a>/<a href="/home">hbd</a>/saved</p>
  <img id='settings' src="/images/settings.png" style="width:20px"/><br><br>
  {{#each graphs}}
    <!-- <img class='edit edit-{{name}}' src='/images/edit.png' style='width:14px; display:none'/> -->
    <div class='edit' style='display: none; line-height: 24px;'><a href="/edit?name={{name}}">edit</a>/<a href="/delete?name={{name}}">delete</a></div>
    <a class='saved-link' href='/graph?name={{name}}'>{{name}}</a><br>
  {{/each}}
</body>